// Override default variables before the import
$gray-100: #002d8b;
$primary: #009be1;

// #66ff66

$font-family-base: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-light {
    .navbar-nav .nav-link {
        color: $white;
    }

    .navbar-brand {
        color: $white;
    }
}

.card {
    margin-bottom: 10px;
    border-color: $primary;
}

form {
    margin-top: 10px;
}

.jumbotron {
    background-color: $primary;
    color: $white;
}

.pagination {
    margin: unset;
}