// Override default variables before the import
$gray-100: #66ff66;
$primary: #66ff66;

$font-family-base: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;

// Import Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-light {
    .navbar-nav .nav-link {
        color: $white;
    }

    .navbar-brand {
        color: $white;
    }
}

.card {
    margin-bottom: 10px;
    border-color: $primary;
}
